<!DOCTYPE html>
<html>
<head>
  <title>Basic Gallery With VueJS / Galería Básica con VueJS</title>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
  <script type="text/javascript" src="gallery-vue.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/superhero/bootstrap.css"></script>

   <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1>Basic Gallery With VueJS / Galería Básica con VueJS</h1>

<div  id="gallery">
   <div  class="gallery_list">
            <div style="border: 1px solid black;"  :class="'g'+n" v-for="n in elementsQuantity" v-on:click="addShowClass($event)" :data-index="n">   </div>
   </div>  
        <hr>
<div  v-for="n in elementsQuantity" v-on:click.capture="removeShowClass()"  :class=" [  'gal bg'+n ,   {show: isActive==n}  ] ">  {{ n }} </div>
</div>

<!-- Note: This is un basic example from VueJS, your imagine is the limit  with this tool !   TRY ! 
Esto es un ejemplo básico de VueJS, tu imaginación es el limite con esta herramienta !  Intentalo !  -->

<!-- By https://www.linkedin.com/in/hely-rojas-49547a70 -->
</body>
</html>
